*~
*.o
.deps
Makefile
Makefile.in
install.sh
stamp-h1
missing
config.h
config.h.in
aclocal.m4
autom4te.cache
config.log
config.status
configure
depcomp
install-sh
test
iosort.*.out
run*.log
.offset.tmp
foo
check_stalls
hello.c
master-slave